<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:pluto="http://www.w3.org/2001/pluto.html"
    android:sharedUserId="com.tmobile.thememanager"
    package="com.tmobile.thememanager">

    <!-- Allows windowless application of themes. -->
    <permission android:name="com.tmobile.permission.CHANGE_THEME"
        android:label="@string/permlab_set_theme"
        android:description="@string/permdesc_set_theme"
        android:protectionLevel="dangerous" />

    <!-- Allows access to DRM-protected media resources in theme packages. -->
    <permission android:name="com.tmobile.permission.ACCESS_DRM_THEME"
        android:label="@string/permlab_access_DrmThemeResources"
        android:description="@string/permdesc_access_DrmThemeResources"
        android:protectionLevel="signature" />

    <!-- XXX: DO NOT REQUEST DRM ACCESS PERMISSION!
         You will have defeated our security model in the
         PackageResourcesProvider, allowing abitrary access to DRM protected
         theme resources. -->

    <!-- Necessary to apply a theme. -->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <!-- Grants read access to resources of DRM-protected themes -->
    <uses-permission android:name="com.tmobile.permission.ACCESS_DRM_THEME" />

    <!-- Manage the state of theme APKs across reboots. -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Allows to remove theme packages. -->
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />

    <application
        android:label="@string/app_name"
        android:icon="@drawable/personalize"
        pluto:isThemeable="true">

        <activity
            android:name=".activity.ThemeChooser"
            android:label="@string/theme_chooser_title"
            android:theme="@style/NoBackgroundAndNoTitle">

            <intent-filter android:label="@string/theme_intent_title">
                <action android:name="com.tmobile.intent.action.SET_THEME" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.tmobile.cursor.dir/theme" />
            </intent-filter>

            <intent-filter android:label="@string/theme_intent_title">
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.tmobile.cursor.dir/theme" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.StyleChooser"
            android:label="@string/style_chooser_title">

            <intent-filter android:label="@string/style_intent_title">
                <action android:name="com.tmobile.intent.action.SET_THEME" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.tmobile.cursor.dir/style" />
            </intent-filter>

            <intent-filter android:label="@string/style_intent_title">
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.tmobile.cursor.dir/style" />
            </intent-filter>

        </activity>

        <activity android:name=".activity.Personalize" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ThemeWallpaperChooser"
            android:label="@string/choose_wallpaper" >
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER" />
                <action android:name="com.tmobile.intent.action.PICK_WALLPAPER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider android:name=".provider.PackageResourcesProvider"
            android:authorities="com.tmobile.thememanager.packageresources" />

        <provider android:name=".provider.ThemesProvider"
            android:authorities="com.tmobile.thememanager.themes" />

        <receiver
            android:name=".receiver.ChangeThemeReceiver"
            android:permission="com.tmobile.permission.CHANGE_THEME">

            <intent-filter android:priority="100">
                <action android:name="com.tmobile.intent.action.CHANGE_THEME" />
                <data android:mimeType="vnd.tmobile.cursor.item/theme" />
                <data android:mimeType="vnd.tmobile.cursor.item/style" />
            </intent-filter>

        </receiver>

        <receiver android:name=".receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.ThemePackageReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="com.tmobile.intent.action.THEME_PACKAGE_UPDATED" />
                <category android:name="com.tmobile.intent.category.THEME_PACKAGE_INSTALL_STATE_CHANGE" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.WallpaperChanged">
            <intent-filter>
                <action android:name="android.intent.action.WALLPAPER_CHANGED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
